html,
body {
  /* padding-right:10pc; */
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
}
.header{
  color: #0d3f5e;

}
.title{
  color: #0d3f5e;
  font-weight: bolder;
  font-style: normal;
  font-size: larger;
  border-width: thin

  

}
.name{
  width: 25pc;
  height: 3pc;
  border-radius: 1pc;
   border-color:black;
   
   border-width: thin
  
}
.priority{
  color: #0d3f5e;
  font-weight: bolder;
  font-style: normal;
  font-size: larger;
  
}
.ttle{
 width: 25pc;
 height: 3pc;
 border-radius: 1pc;

}
.desc{
  color: #0d3f5e;
  width: 40pc;
 height: 10pc;

  
}
button[classname=btn2]{
  width: 5pc;
  height: 2pc;
  border-radius: 1pc;

  border: none;
  color:#0d3f5e ;
  font-weight: bold;
}

input[type=submit]{
  width: 5pc;
 height: 2pc;
 border-radius: 1pc;
 background-color: gray;
 border: none;
 color: white;
}
